@font-face{
    font-family: "Linux Libertine";
    src: url(../fonts/linux-libertine.ttf);
}

html{ font-size: 12pt }

body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    background:rgb(240,255,252);
}

h1, h2, h3, h4, h5, h6{ margin:unset; font-family: 'Linux Libertine','Georgia','Times',serif }
h1{ font-size: 1.8em }
h2{ font-size: 1.5em }
p{ font-size: 0.875em; line-height:1.6 }

.page{
    position:absolute;
    margin-top:50px;
    display:grid;
    grid-template-columns:auto 290px 1000px auto;
    grid-template-areas:    
        "banner banner banner banner"
        ". sidebar main-content .";
    column-gap:50px;
    justify-content:center;
    opacity:0;
    pointer-events:none;
    z-index:-1;
    transition:opacity 200ms;
}

body.main-visible main, body.game-visible #game{
    z-index:1;
    opacity:1;
    pointer-events:auto;
}

aside{
    grid-area:sidebar;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#logo{
    width:calc(100% - 40px);
    object-fit:contain;
}

#mode-container{
    width:100%;
    margin-block-start:20px;
}

.card{
    padding:20px;
    margin-block:20px;
    border:2px solid black;
}

.content{
    margin-block:50px;
    grid-area:main-content;
    padding:20px;
    background:white;
}

#game-content{
    box-shadow:-2px 0 2px rgba(0,0,0,0.15), 0 0 10px rgba(0,0,0,0.08);
    border-radius:2px;
}

.game-article.loading{
    pointer-events:none;
    opacity:0.5;
}

#game-banner{
    position:sticky;
    top:0;
    background:red;
    grid-area:banner;
    display:flex;
}

.current-stat{
    text-align:center;
}

.current-stat-value{
    font-size:1.5em;
}

.current-stat-label{

}