:root{
    --inline-jigsaw-grad: linear-gradient(white 0%, white calc(50% - 9px), transparent calc(50% - 9px), transparent calc(50% + 9px), white calc(50% + 9px), white 100%);
}

@font-face{
    font-family: "Linux Libertine";
    src: url(../fonts/linux-libertine.ttf);
}

html{ font-size: 12pt }

body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    background:rgb(240,255,252);
}

h1, h2, h3, h4, h5, h6{ margin:unset }
h1, h2 { font-family: 'Linux Libertine','Georgia','Times',serif }
h1{ font-size: 1.8em }
h2{ font-size: 1.5em }
p{ font-size: 0.875em; line-height:1.6 }

.page{
    position:absolute;
    margin-top:50px;
    display:grid;
    grid-template-columns:auto 290px 1000px auto;
    grid-template-areas:    
        "banner banner banner banner"
        ". sidebar main-content .";
    column-gap:50px;
    justify-content:center;
    opacity:0;
    pointer-events:none;
    z-index:-1;
    transition:opacity 200ms;
}

body.main-visible main, body.game-visible #game{
    z-index:1;
    opacity:1;
    pointer-events:auto;
}

aside{
    grid-area:sidebar;
    max-height:calc(100vh - 40px);
    position:-webkit-sticky;
    position:sticky;
    top:0;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#logo{
    width:calc(100% - 40px);
    object-fit:contain;
}

#explainer{
    text-align:center;
}

#mode-container{
    width:100%;
    margin-block-start:20px;
}

.card{
    padding:20px;
    margin-block:20px;
    border:2px solid black;
    background:#fff;
}

.content{
    margin-block:30px 50px;
    grid-area:main-content;
    padding:20px;
    background:white;
    box-shadow:-2px 0 2px rgba(0,0,0,0.15), 0 0 10px rgba(0,0,0,0.08);
}

.featured-games-container{
    display:flex;
    flex-wrap:wrap;
}

.featured-game-container{
    display:flex;
    gap:2.5%;
    margin:10px 0;
    padding:20px;
    flex:0 0 60%;
    cursor:pointer;
    transition:background-color 100ms;
}

.featured-game-container:hover{
    background-color:rgb(214, 223, 255);
}

.featured-arrow{
    flex:0 0 5%;
    max-width:5%;
}

.featured-article{
    position:relative;
    flex-grow:1;
    aspect-ratio:1/0.63; /*jigsaw dimensions*/
    padding:20px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    filter:drop-shadow(0 1px 1px rgba(0,0,0,0.25));
}

#jigsaw-clips{
    position:absolute;
    pointer-events:none;
    z-index:-1;
}

.jigsaw-pattern{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0;
    background-color:#fff;
    background-size:cover;
    background-position:center;
}
.featured-article:first-child .jigsaw-pattern{ clip-path:url(#left-jigsaw-shape) }
.featured-article:last-child .jigsaw-pattern{ clip-path:url(#right-jigsaw-shape) }


.featured-article-content{
    position:absolute;
    left:0;
    top:0;
    margin:25px 35px;
    filter:drop-shadow(0 1px 1px rgba(0,0,0,0.25));
}
.featured-article:last-child .featured-article-content{ left:5% }

.featured-article-content h2{
    display:inline;
    border-bottom:none;
    padding:0 0;
    margin:0;
    background:#fff;
    box-shadow:-15px 0 0 #fff, 15px 0 0 #fff;
    filter:drop-shadow(0 -10px 0px #fff) drop-shadow(0 10px 0px #fff);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.featured-article-content p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    display:none;
}


#game-content{
    border-radius:2px;
}

.game-article.loading{
    pointer-events:none;
    opacity:0.5;
}

#game-banner{
    grid-area:banner;
    display:flex;
    padding:0 20px;
}

#jigsaw-path-container{
    display:flex;
    flex:1;
    padding-right:30px;
}
#jigsaw-path-container.pieces-hidden:before{
    content: "\2022 \2022 \2022";
    margin: 30px 30px 30px 20px;
    padding: 20px 0;
}

.jigsaw-path-piece{
    background:#fff;
    margin:30px 10px;
    position:relative;
    filter:drop-shadow(0 0 1px rgb(150,150,150));
    cursor:default;
    white-space:nowrap;
}

.jigsaw-path-piece:before{
    content: "";
    position:absolute;
    top:-20px;
    left:-20px;
    width:100%;
    height:100%;
    padding:20px;
    z-index:-1;
    background-repeat:no-repeat;
}

#initial-jigsaw-path-piece:before, #goal-jigsaw-path-piece:before{
    padding:20px;
    background-image:url(../images/jigsaw-path-inline-edges.svg);
    background-size:80px;
}
#initial-jigsaw-path-piece:before{ background-position:right center }
#goal-jigsaw-path-piece:before{ background-position:-20px center }

.jigsaw-path-piece:nth-child(2n){ 
    padding:20px;
    z-index:2;
}
.jigsaw-path-piece:nth-child(2n):before{
    background-image:url(../images/jigsaw-path-inline-edges.svg), url(../images/jigsaw-path-inline-edges.svg);
    background-position:-20px center, right center;
    background-size:80px, 80px;
}

.jigsaw-path-piece:nth-child(2n+1){ 
    padding:20px 10px;
    z-index:1;
}
.jigsaw-path-piece:nth-child(2n+1):before{
    background-image:url(../images/jigsaw-path-inline-edges.svg), url(../images/jigsaw-path-inline-edges.svg), var(--inline-jigsaw-grad), var(--inline-jigsaw-grad);
    background-position:-40px center, right -60px center, left center, right center;
    background-size:80px, 80px, 20px calc(100% - 40px), 20px calc(100% - 40px);
}

#current-stats{
    display:flex;
    width:100%;
}

.current-stat{
    text-align:center;
    flex:1;
}

.current-stat-value{
    font-size:1.5em;
}

#table-of-contents{ 
    font-size:0.875em;
    width:100%;
    max-width:240px;
    -webkit-user-select:none;
    user-select:none;
}

#table-of-contents ul{
    list-style-type:none;
    padding:0 0 6px 8px;
}

#table-of-contents li.closed ul{
    display:none;
}

#table-of-contents li{
    color:#3366cc;
}

#table-of-contents li.current-entry > .contents-label, #table-of-contents li.closed.current-entry-toplevel > .contents-label{
    color:#000;
    font-weight:bold;
}
#table-of-contents li.current-entry-toplevel:not(.closed) > .contents-label{ 
    color:#000;
    font-weight:normal;
}

.contents-label{
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    padding:6px 0;
    width:100%;
}
.contents-label:hover{text-decoration:underline}

.contents-expand{
    width:22px;
    height:22px;
    display:inline-block;
    margin-left:-22px;
    vertical-align:middle;
    cursor:pointer;
    transform:rotate(90deg);
    transition:100ms;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 8 12'%3E%3Cpath d='M2,0l6,6l-6,6' fill='none' stroke='%23202122' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center;
    background-size:12px 12px;
}
#table-of-contents li.closed .contents-expand{ transform: rotate(0deg) }
.contents-expand:hover{ background-color:rgba(0,24,73,.027) }
.contents-expand:active{ background-color:rgba(0,24,73,.082) }