h1,h2{
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
}
section > h1, section > h2, .game-article h1, .game-article h2{
    border-bottom: 1px solid #a2a9b1;
}


.infobox{
    margin: 25px 0 25px 50px;
    padding: 0.2em;
    float: right;
    clear: right;
    text-align: center;
    font-size: 88%;
    line-height: 1.5em;
    width:22em;
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
}

.reference, .mw-editsection, .mw-cite-backlink, .ambox{ display:none }

.mw-halign-right{
    margin: 0.5em 0 1.3em 1.4em;
    clear: right;
    float: right;
}

.hatnote{ font-size: 0.875em; line-height: 1.6 }

#game-content .link{
    display:inline-block;
    padding:0 2px;
    margin:1px 0;
    cursor:pointer;
    text-decoration:none;
    color:#000;
    background:rgb(214, 223, 255);
    transition:100ms;
}

#game-content .invalid-link{
    background:none;
    color:inherit;
    text-decoration:none;
}